{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		{{ post.title }}
		mi custom single tiwg

		<img src="{{ post.thumbnail.src|resize(1200, 300) }}">
		{{ post.content }}
	</div>
{% endblock %}
