{% extends "base.twig" %}

{% block content %}
    <h1>Sobre Nosotros</h1>
    
    <p>En [Nombre Ficticio de la Web], estamos comprometidos con tu salud y bienestar. Fundada en 2024, nuestra misión es brindar programas de entrenamiento y nutrición personalizados para cada etapa de la vida. Nuestro equipo está compuesto por profesionales altamente capacitados en fitness, nutrición y fisioterapia.</p>
    
    <h2>Nuestra misión</h2>
    <p>Nuestra misión es proporcionar un servicio integral y de calidad a todas las personas interesadas en mejorar su bienestar físico y mental a través del deporte y la nutrición.</p>
    
    <h2>¿Por qué elegirnos?</h2>
    <p>Nos especializamos en programas personalizados, adaptados a cada individuo. Desde principiantes hasta deportistas experimentados, ofrecemos soluciones de entrenamiento y nutrición basadas en tus metas y condición física.</p>

    <p>Nos enorgullecemos de ofrecer un enfoque holístico de la salud, con una amplia gama de servicios que incluyen entrenamiento para el gimnasio, asesoría nutricional, y programas de ejercicios para mujeres embarazadas y personas de la tercera edad.</p>

    <p>¡Únete a nuestra comunidad y comienza tu viaje hacia un mejor bienestar hoy!</p>
{% endblock %}
