{% extends "base.twig" %}

{% block content %}
    <h1>Nuestros Servicios</h1>
    
    <p>En [Nombre Ficticio de la Web], ofrecemos una amplia gama de servicios personalizados para ayudarte a alcanzar tus metas de bienestar. Nuestros programas de entrenamiento están diseñados para adaptarse a tus necesidades específicas, ya seas un principiante o un atleta avanzado.</p>
    
    <h2>Programas personalizados</h2>
    <p>Cada persona es diferente, por lo que nuestros entrenadores diseñan planes de ejercicio y nutrición personalizados. Ya sea que quieras perder peso, ganar músculo o mejorar tu resistencia, tenemos el plan adecuado para ti.</p>

    <p>A continuación, te presentamos nuestros servicios:</p>
    
    {% if servicios %}
        <ul>
        {% for servicio in servicios %}
            <li>
                <h2>{{ servicio.title }}</h2>
                <p>{{ servicio.content }}</p>
                {% if servicio.thumbnail %}
                    <img src="{{ servicio.thumbnail.src }}" alt="{{ servicio.title }}">
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay servicios disponibles en este momento.</p>
    {% endif %}
{% endblock %}
