{% extends "base.twig" %}

{% block content %}
<section class="home">
    <h1>Bienvenido a FitAndFood</h1>
    <p>Tu guía para una vida saludable y activa.</p><br>

    <div class="announcements">
        <div class="announcement">
            <h2>¡Nuevos Programas de Entrenamiento!</h2>
            <p>Únete a nuestros programas de entrenamiento personalizados.</p>
        </div>
        <div class="announcement">
            <h2>Consulta de Nutrición Gratis</h2>
            <p>Reserva tu consulta y descubre cómo mejorar tu dieta.</p>
        </div>
        <div class="announcement">
            <h2>Workshops grupales</h2>
            <p>Infórmate de fechas y lugares para animarte a probar.</p>
        </div>
        <div class="announcement">
            <h2>Rutinas para embarazadas, pre y postparto</h2>
            <p>Te diseñamos un plan específico.</p>
        </div>
    </div>

</section>
{% endblock %}
